html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Century Gothic", Arial;
}

#topbar a {
    text-decoration: none;
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--link);
    margin: 0px;
}

a:hover {
    color: var(--link_hover);
}



/* home page */
.home_city_details_container th {
    border-bottom: 2px solid black;
}

.home_city_details_container tr, .home_city_details_container td {
    border-bottom: 1px solid black;
    font-size: 95%;
}

/* home page */


/*login page*/
.input_field {
    border: 1px solid gray;
    background-color: white;
    padding: 5%;
}

.input_submit {
    border: 0px solid gray;
    border-radius: 5%;
    background-color: #cdcdcd;
    padding: 5%;
    transition: .25s;
    width: 50%;
}

.input_submit:hover {
    border: 0px solid gray;
    border-radius: 5%;
    background-color: #444444;
    color: white;
    padding: 5%;
    transition: .25s
}

#password_fail {
    color: red;
}

.password_forgotten {
    color: black;
    transition: .25s
}

.password_forgotten:hover {
    color: var(--link);
    transition: .25s
}

.login_form_wrapper {
    margin: auto;
    width: 90%;
}

/*login page*/

/* Mobile */
@media only screen and (min-width: 0px) {

    body {
        background-color: gray;
    }

    #topbar {
        margin: auto;
        background-color: var(--main_dark);
    }

    #topbar_mobile {
        display: inline-block;
        padding: 5%;
        transition: .125s;
    }

    #topbar_others {
        display: none;

    }

    .topbar_container {
        display: inline-block;
        background-color: var(--main_dark);
        padding: 5%;
        transition: .25s;
    }

    .topbar_container:hover {
        display: inline-block;
        background-color: var(--main_gray);
        padding: 5%;
        transition: .25s;
    }


    .home_personal_details {
        margin: auto;
        margin-top: 5%;
        width: 90%;
        background-color: #efefef;
        border: 5px solid transparent;
        box-shadow: black 2px 2px;

    }

    .home_city_details_container {
        margin: auto;
        margin-top: 5%;
        width: 90%;
        background-color: #efefef;
        border: 5px solid transparent;
        box-shadow: black 2px 2px;

    }


}

/* Tablet */
@media only screen and (min-width: 700px) {
    body {
        background-color: #232323;
    }

    #topbar {
        margin: auto;
        background-color: var(--main_dark);
    }

    #topbar_mobile {
        display: none;
    }

    #topbar_others {
        display: inline;
    }

    .topbar_container {
        display: inline-block;
        background-color: var(--main_dark);
        padding: 3%;
    }

    .topbar_container:hover {
        display: inline-block;
        background-color: var(--main_gray);
        padding: 3%;
        transition: .25s;
    }

    .home_personal_details {
        margin: auto;
        margin-top: 5%;
        width: 90%;
        background-color: #efefef;
        border: 5px solid transparent;
        box-shadow: black 2px 2px;

    }

    .home_city_details_container {
        margin: auto;
        margin-top: 5%;
        width: 90%;
        background-color: #efefef;
        border: 5px solid transparent;
        box-shadow: black 2px 2px;

    }

    .login_form_wrapper {
        margin: auto;
        width: 90%;
    }

    .login_form {

    }

}

/*desktop*/
@media only screen and (min-width: 1100px) {

    body {
        background-color: white;
    }

    #topbar {
        margin: auto;
        background-color: var(--main_dark);
    }

    #topbar_mobile {
        display: none;
    }

    #topbar_others {
        display: inline;
    }

    .topbar_container {
        display: inline-block;
        background-color: var(--main_dark);
        padding: 1.5%;
    }

    .topbar_container:hover {
        display: inline-block;
        background-color: var(--main_gray);
        padding: 1.5%;
        transition: .25s;
    }

    #page_content {
        display: inline-block;
        vertical-align: top;
        width: 70%;
    }

    #side_menu {
        display: inline-block;
        vertical-align: top;
        background-color: #efefef;
        padding: 1%;
        float: right;
        width: 25%;
        margin-top: 3%;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    .home_banner {
        vertical-align: top;
        margin: auto;
        margin-top: 3%;
        width: 90%;
        padding: 1%;

    }

    .home_personal_details {
        margin: auto;
        margin-top: 5%;
        width: 90%;
        background-color: #efefef;
        border: 5px solid transparent;
        box-shadow: black 2px 2px;

    }

    .home_city_details_container {
        margin: auto;
        margin-top: 5%;
        width: 90%;
        background-color: #efefef;
        border: 5px solid transparent;
        box-shadow: black 2px 2px;

    }

    .login_form_wrapper {
        margin: auto;
        width: 90%;
    }

    .login_form {

    }

}